
.aurora-timetable-webexport-skin-default {
    border: 1px solid #999999;
    font-size: 12px;
    font-family: sans-serif;
}

.aurora-timetable-webexport-skin-default .aurora-timetable-webexport-header {
    background-color: #CCCCCC;
    border-bottom: 1px solid #999999;
}

.aurora-timetable-webexport-skin-default .aurora-timetable-webexport-select-container {
    margin: 7px;
}

.aurora-timetable-webexport-skin-default .aurora-timetable-webexport-select-label {
    padding-right: 7px;
    font-weight: bold;
}

.aurora-timetable-webexport-skin-default .aurora-timetable-webexport-select {
}

.aurora-timetable-webexport-skin-default .aurora-timetable-webexport-days {
    padding: 10px;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.aurora-timetable-webexport-skin-default .aurora-timetable-webexport-day {
    border: 1px solid #777777;
    border-right: hidden;
    background-color: #F5F5F5;
}

.aurora-timetable-webexport-skin-default .aurora-timetable-webexport-day:last-child {
    border-right: 1px solid #777777;
}

.aurora-timetable-webexport-skin-default .aurora-timetable-webexport-day-title {
    height: 25px;
    padding-top: 7px;
    background-color: #DDDDDD;
    font-size: 120%;
    font-weight: bold;
}

.aurora-timetable-webexport-skin-default .aurora-timetable-webexport-activityflow {
    margin: 10px 7px;
}

.aurora-timetable-webexport-skin-default .aurora-timetable-webexport-activity {
    overflow: hidden;
    border: 1px solid #555555;
    background-color: #FFFFFF;
    border-radius: 5px;
}

.aurora-timetable-webexport-skin-default .aurora-timetable-webexport-activity:hover {
    border: 1px solid #777777;
    background-color: #FFFFDD;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.aurora-timetable-webexport-skin-default .aurora-timetable-webexport-activity-label {
    padding: 5px;
    color: #333333;
}

.aurora-timetable-webexport-skin-default .aurora-timetable-webexport-activity:hover .aurora-timetable-webexport-activity-label {
    color: #770000;
}

.aurora-timetable-webexport-skin-default .aurora-timetable-webexport-activity-time {
    float: right;
    padding: 5px;
    color: #777777;
    font-size: 90%;
}

.aurora-timetable-webexport-skin-default .aurora-timetable-webexport-activity:hover .aurora-timetable-webexport-activity-time {
    color: #330000;
}

.aurora-timetable-webexport-skin-default .aurora-timetable-webexport-footer {
    background-color: #CCCCCC;
}

.aurora-timetable-webexport-skin-default .aurora-timetable-webexport-signature {
    margin: 7px;
}

