
.aurora-timetable-webexport-skin-fancy {
    border: 2px solid #000000;
    font-size: 12px;
    font-family: sans-serif;
}

.aurora-timetable-webexport-skin-fancy .aurora-timetable-webexport-header {
    background-color: #0088FF;
    border-bottom: 1px solid #777777;
}

.aurora-timetable-webexport-skin-fancy .aurora-timetable-webexport-select-container {
    margin: 15px;
}

.aurora-timetable-webexport-skin-fancy .aurora-timetable-webexport-select-label {
    padding-right: 7px;
    font-weight: bold;
}

.aurora-timetable-webexport-skin-fancy .aurora-timetable-webexport-select {
    border: 1px solid #000000;
    font-size: 110%;
}

.aurora-timetable-webexport-skin-fancy .aurora-timetable-webexport-days {
}

.aurora-timetable-webexport-skin-fancy .aurora-timetable-webexport-day {
    overflow: hidden;
    margin: 10px 5px;
    background-color: #AAFF77;
    border: 2px solid #333333;
    border-radius: 20px;
}

.aurora-timetable-webexport-skin-fancy .aurora-timetable-webexport-day-title {
    height: 27px;
    padding-top: 10px;
    background-color: #FF0055;
    border-bottom: 1px solid #333333;
    font-size: 120%;
    font-weight: bold;
}

.aurora-timetable-webexport-skin-fancy .aurora-timetable-webexport-activityflow {
    margin: 10px;
}

.aurora-timetable-webexport-skin-fancy .aurora-timetable-webexport-activity {
    overflow: hidden;
    background-color: #FFFF00;
    border: 1px solid #333333;
    border-radius: 10px;
    transition: 0.3s transform;
}

.aurora-timetable-webexport-skin-fancy .aurora-timetable-webexport-activity:hover {
    background-color: #FFFFFF;
    transform: rotate(2deg) scale(1.05);
}

.aurora-timetable-webexport-skin-fancy .aurora-timetable-webexport-activity-label {
    margin: 5px;
    font-weight: bold;
    color: #775500;
}

.aurora-timetable-webexport-skin-fancy .aurora-timetable-webexport-activity:hover .aurora-timetable-webexport-activity-label {
    color: #333333;
}

.aurora-timetable-webexport-skin-fancy .aurora-timetable-webexport-activity-time {
    float: right;
    margin: 0px 0px 3px 3px;
    padding: 3px;
    border-bottom-left-radius: 7px;
    background-color: #333333;
    color: #FFFFFF;
    font-size: 80%;
}

.aurora-timetable-webexport-skin-fancy .aurora-timetable-webexport-activity:hover .aurora-timetable-webexport-activity-time {
}

.aurora-timetable-webexport-skin-fancy .aurora-timetable-webexport-footer {
    background-color: #0088FF;
    border-top: 1px solid #777777;
    color: #FFFFFF;
}

.aurora-timetable-webexport-skin-fancy .aurora-timetable-webexport-signature {
    margin: 10px;
}

