<!doctype html>
<html>
<head>

<title>Export</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />

<!-- We recommend to use a global CDN instead of this -->
<script type="text/javascript" src="./javascript/jquery-3.0.0.js"></script>

<!-- Place this files where you want -->
<link rel="stylesheet" type="text/css" href="./javascript/aurora-timetable-1.0/aurora-timetable.css" />
<script type="text/javascript" src="./javascript/aurora-timetable-1.0/aurora-timetable.js"></script>

<!-- You can also write your custom language file -->
<script type="text/javascript" src="./javascript/aurora-timetable-1.0/lang/hu_HU.js"></script>
<script type="text/javascript" src="./javascript/aurora-timetable-1.0/lang/en_US.js"></script>

<!-- You can also write your own skin -->
<link rel="stylesheet" type="text/css" href="./javascript/aurora-timetable-1.0/skin/default/default.css" />
<link rel="stylesheet" type="text/css" href="./javascript/aurora-timetable-1.0/skin/fancy/fancy.css" />

<script type="text/javascript">

$(function(){
    
    $.ajax({
        "url": "./data/timetable-data.json",
        "method": "GET",
        "dataType": "json"
    }).done(function(data){
        $(".aurora-timetable").auroraTimetable({
            "data": data,
            "skin": "default",
            "lang": "{{LANGUAGE}}"
        });
    });
});

</script>
  
</head>
<body>

<h1>Export</h1>

<!-- This HTML element will be "timetablized" -->
<div class="aurora-timetable"></div>

</body>
</html>
