
.aurora-timetable-webexport-container {
}

.aurora-timetable-webexport-header {
    overflow: hidden;
}

.aurora-timetable-webexport-select-container {
    display: inline-block;
}

.aurora-timetable-webexport-select-label {
}

.aurora-timetable-webexport-select {
}

.aurora-timetable-webexport-days {
    text-align: center;
    white-space: nowrap;
    overflow: auto;
}

.aurora-timetable-webexport-day {
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    white-space: normal;
}

.aurora-timetable-webexport-day-title {
}

.aurora-timetable-webexport-activityflow {
    position: relative;
    text-align: left;
}

.aurora-timetable-webexport-activity {
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
}

.aurora-timetable-webexport-activity:hover {
    z-index: 10;
}

.aurora-timetable-webexport-activity-label {
}

.aurora-timetable-webexport-activity-time {
}

.aurora-timetable-webexport-footer {
    overflow: hidden;
}

.aurora-timetable-webexport-signature {
    float: right;
}
